/*
!wp-content
!.gitignore
wp-content/*

!wp-content/plugins
wp-content/plugins/*
!wp-content/plugins/advanced-custom-fields
!wp-content/plugins/wp-super-cache
!wp-content/plugins/child-theme-configurator
!wp-content/plugins/custom-api-for-wp

!wp-content/themes
wp-content/themes/*
!wp-content/themes/newtheme
